body {
    position: relative;
    width: 100%;
    min-width: 500px;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

ul,
li {
    list-style: none;
}

a {
    color: #27282a;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    /* → 보여지게 하는 부분을 설정하는 것인데, 모든 값이 0 이므로 결국 보여지는 부분이 없음 */
}

/* header */

/* header 공통 스타일 */
.container {
    min-width: 1240px;
    margin: 0 auto;
}

.fs {
    font-size: 11px;
    color: #212121b3;
}

/* main menu */
/* 공통 스타일 */
.menu-list {
    display: flex;
    justify-content: center;
}

.menu-list>li>a {
    padding: 30px 0;
}

.pb-20 {
    padding-bottom: 20px;
}

/* menu-list */
header .sec-wrap {
    padding: 20px 40px 20px 30px;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-around;
}

.sec .menu-list li {
    padding: 0 8px;
}

.sec p {
    font-size: 14px;
}

.sec_search {
    position: relative;
    top: -1px;
    left: 10px;
}

header .sec-banner {
    margin: 25px 0;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.img-wrap {
    width: 293px;
}

.img-wrap img {
    width: inherit;
}

/* gnb menu */
.src-gnb {
    position: relative;
}

.src-gnb>.menu-list>li {
    padding: 0 10px;
}

.src-gnb .menu-list__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-list__container li a {
    padding: 12px 15px;
}

.menu-list:hover .sub-menu {
    display: block;
}

/* submenu */
.src-gnb .sub-menu {
    display: none;
    position: absolute;
    padding: .4rem 0;
    top: 52px;
    left: 0;
    width: 100%;
    height: 270px;
    background-color: #555;
    z-index: 2;
}

.src-gnb .sub-menu__container {
    width: 75%;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.src-gnb .sub-menu__container>li>a {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}

.sub_deep-menu li {
    padding: 0;
}
.sub_deep-menu>li>a {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;
    color: #9b9b9b;
}

.sub_deep-menu>li>a:hover {
    color: #d1d1d1;
}

/* main */

/* custom-swiper style */
.nav-btn {
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
}

.nav-btn__btn-wrap {
    position: absolute;
    left: 0;
    right: 0;
}

.main__inner {
    padding-top: 30px;
}

/* main-banner */
.main-banner .carousel-wrap {
    position: relative;
    top: 0;
    left: 0;
}

.main-banner .swiper-container {
    width: 100%;
    height: 400px;
}

.main-banner .carousel-wrap .swiper-slide {
    width: 100%;
}

.main-banner .carousel-wrap .slide01 {
    background: url('../img/bn01.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner .carousel-wrap .slide02 {
    background: url('../img/bn02.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner .carousel-wrap .slide03 {
    background: url('../img/bn03.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner .carousel-wrap .slide04 {
    background: url('../img/bn04.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner .carousel-wrap .slide05 {
    background: url('../img/bn05.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner .carousel-wrap .slide06 {
    background: url('../img/bn06.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner .carousel-wrap .slide07 {
    background: url('../img/bn07.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner .carousel-wrap .slide08 {
    background: url('../img/bn08.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner .carousel-wrap .slide09 {
    background: url('../img/bn09.jpg') no-repeat center center;
    background-size: cover;
}

.main-banner.swiper-pagination-bullets {
    bottom: 30px !important;
}

.main-banner.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    left: 0;
    background-color: transparent !important;
    border: 1px solid #000 !important;
}

.main-banner .swiper-pagination-bullet-active {
    background-color: #000 !important;
}


/* main-sec common */
.main-sec {
    /* width: 1221px; */
    margin: 0 auto;
}

.main-sec .sec_wrap {
    width: 65%;
    padding-right: 7px;
    margin: 0 auto;
}

/* sec01 */
.sec01 .prod-title {
    margin: 45px 0 20px;
}

.prod-title strong {
    color: #333;
    font-weight: 600;
    font-size: 22px;
}

/* img cards */
.sec01 .prod-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.prod-cards .prod-item {
    width: 290px;
    cursor: pointer;
}

.prod-item .p_image-wap {
    position: relative;
    width: 100%;
    height: 270px;
    padding: 10px;
}

.p_image-wap .p_image {
    position: absolute;
    left: 0;
    top: 0;
}

.p_image-wap .p_image-f {
    z-index: 1;
}

.p_image-wap .p_image-hv {
    z-index: 0;
}

.p_image-wap:hover .p_image-hv {
    z-index: 1;
    animation: findIn 1s;

}

@keyframes findIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}


.p_image-wap img {
    width: 100%;
    height: 100%;
}

.prod-info {
    margin-top: 30px;
    padding: 15px 0;
    background-color: #fdfdfd;
    font-size: 14px;
}

.prod-info .prod-info--price {
    margin: 3px;
}

.prod-info .prod-info--price .p_sale {
    font-size: 11px;
    text-decoration: line-through;
    color: #2a2a2a80;
}

.icon-style {
    margin-top: 5px;
    padding: 6px 8px;
    border: 1px solid #d3d3d3;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.best {
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: #fff;
    color: #fe5356;
}

.sale {
    color: #fff;
    background-color: #fe5356;
    border: none;
}

.con {
    color: #333;
    background-color: #fff;
}