body {
    position: relative;
    width: 100%;
    min-width: 500px;
    height: 1000px;
}

ul,
li {
    list-style: none;
    color: #000;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    /* → 보여지게 하는 부분을 설정하는 것인데, 모든 값이 0 이므로 결국 보여지는 부분이 없음 */
}

/* header */

/* header 공통 스타일 */
.fs {
    font-size: 11px;
    color: #212121b3;
}

.menu-list {
    display: flex;
}

/* header 스타일 */
header .sec-wrap {
    padding: 20px 40px 16px 30px;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.sec .menu-list li {
    padding: 0 8px;
}

.sec p {
    font-size: 14px;
}

.sec_search {
    position: relative;
    top: -5px;
    left: 10px;
}

header .sec-banner {
    margin: 25px 0;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.img-wrap {
    width: 293px;
}

.img-wrap img {
    width: inherit;
}


.src-gnb .menu-list li {
    padding: 0 10px;
}

.src-gnb .menu-list__container {
    width: 100%;
    justify-content: center;
}


/* main */

/* custom-swiper style */
.nav-btn {
    position: absolute;
    background: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
}

.nav-btn__btn-wrap {
    position: absolute;
    left: 0;
    right: 0;
}

/* main 스타일 */
.main-banner {
    margin-top: 30px;
}

.main-banner .carousel-wrap {
    position: relative;
    top: 0;
    left: 0;
}

.swiper-container {
    width: 100%;
    height: 400px;
}


.swiper-slide {
  /* margin-right: 0 !important; */
}

.carousel-wrap .slide01 {
    background: url('../img/bn01.jpg') no-repeat center center;
    background-size: cover;
}

.carousel-wrap .slide02 {
    background: url('../img/bn02.jpg') no-repeat center center;
    background-size: cover;
}

.carousel-wrap .slide03 {
    background: url('../img/bn03.jpg') no-repeat center center;
    background-size: cover;
}

.carousel-wrap .slide04 {
    background: url('../img/bn04.jpg') no-repeat center center;
    background-size: cover;
}

.carousel-wrap .slide05 {
    background: url('../img/bn05.jpg') no-repeat center center;
    background-size: cover;
}

.carousel-wrap .slide06 {
    background: url('../img/bn06.jpg') no-repeat center center;
    background-size: cover;
}

.carousel-wrap .slide07 {
    background: url('../img/bn07.jpg') no-repeat center center;
    background-size: cover;
}

.carousel-wrap .slide08 {
    background: url('../img/bn08.jpg') no-repeat center center;
    background-size: cover;
}
.carousel-wrap .slide09 {
    background: url('../img/bn09.jpg') no-repeat center center;
    background-size: cover;
}
.swiper-pagination-bullets {
    bottom: 30px !important;
}
.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    left: 0;
    background: transparent !important;
    border: 1px solid #000!important;
}

.swiper-pagination-bullet-active {
    background: #000 !important;
}